





@media (max-width: 1440px) {

	

	header{
	text-align: center;
	background-color: royalblue ;
	border: solid;
	border-color: gold;
	color: aquamarine;
	font-family: verdana;
	
}
	body{ 
		background-image: url(../img/fondo1.png);
		background-size: cover;
		background-attachment: fixed;
		

}

nav{
	
	background-color: royalblue;
	justify-content: center;
	display: flex;
	gap: 2px;
    padding: 12px 0;
    position: relative;
    font-family: verdana;
	
	
}

nav a{
	transition: all 0.2s ease;
	padding: 8px 15px;
	color: white;

}

nav a:hover{
	
	cursor: pointer;
	color: gold;
	
	}




	section{

		text-align: center;
		color: #3f3492;
		background-color: transparent;
		border-radius: 10px;
		backdrop-filter: blur(14px);
		border-color: midnightblue;
		border: solid;

	}

	.dificu{
		display: flex;
		flex-direction: row;
		gap: 1rem;
		
	}
	

	img.dificul{
		width: 70%;
		margin: 0 auto;
		transition: all 0.5s ease;
		border-radius: 10px;
		border: solid;
		border-color: white;
}

img.dificul:hover{
	transform: scale(1.05);
	filter: sepia(100%);

}

img.imagenes{
		width: 30%;
		

		transition: all 0.5s ease;
		border-radius: 10px;
		border: solid;
		border-color: white;
}

img.imagenes:hover{
	transform: scale(1.05);
	

}

.subrayados{
	text-decoration: underline;
}

button.inicio{
	font-size: 20px;
	width: 60%;
	background-image: url(../img/butto.jpg);
	background-size: cover;
	color: darkblue;
	border-radius: 5px;
	border: solid;
	border-color: midnightblue;
	transition: all 0.3s ease-in;
}

button.inicio:hover{
	transform: scale(1.05);
	color: darkgoldenrod;
	border-color: aqua;
}


	footer{
		text-align: center;
	background-color: royalblue;
	border: solid;
	border-color: gold;
	color: aquamarine;
	font-family: verdana;
}

hr{
	border-color: #3f3492;
}


.tip{
	border: 2 solid;
	border-color: royalblue;
}

.buttonop{
	height: 50px;
	width: 90%;
	border-radius: 6px;

	background: linear-gradient(45deg,midnightblue,hotpink);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	border: solid;
	border-color: midnightblue;
	font-weight: bolder;
	font-family: fantasy;
	font-size: 25px;
	cursor: pointer;

	transition: all 0.3s ease-in;
	
}

.buttonop:hover{
	transform: scale(1.05);
	background: linear-gradient(lightblue, greenyellow);
	background-clip: text;
	-webkit-text-stroke:  transparent;




}

dialog{
	text-align: center;
	background: transparent;
	border-image: linear-gradient(45deg,midnightblue,royalblue)1;
	border-style: 2 solid;
	
	color: white;
}



#alert-dialog {
  opacity: 0;
  transition:
    display 1s allow-discrete,
    overlay 1s allow-discrete,
    translate 1s,
    opacity 1s;
  translate: 0 50%;
  will-change: translate, opacity;
}

#alert-dialog[open] {
  opacity: 1;
  translate: 0;
  @starting-style {
    opacity: 0;
    translate: 0 50%;
  }
}

#alert-dialog::backdrop {
  background: linear-gradient(#000d, #000a);
  opacity: 1;
  transition:
    display 1s allow-discrete,
    opacity 1s;

  @starting-style { opacity: 0 }
}

#alert-dialog:not([open])::backdrop {
  opacity: 0;
}

.buttonp{
	height: 25px;
	width: 80%;
	border-radius: 6px;

	background: linear-gradient(45deg,midnightblue,hotpink);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	border: solid;
	border-color: midnightblue;
	font-weight: bolder;
	font-family: fantasy;
	font-size: 14px;
	cursor: pointer;

	transition: all 0.3s ease-in;
	
}

.buttonsell{
	background: transparent;
	border: transparent;

}

.buttonp:hover{
	transform: scale(1.05);
	background: linear-gradient(lightblue, greenyellow,royalblue);
	background-clip: text;
	-webkit-text-stroke:  transparent;




}



}


















@media (max-width: 1024px) {

	header{
	text-align: center;
	background-color: midnightblue ;
	border: solid;
	border-color: gold;
	color: aquamarine;
	font-family: verdana;
	font-size: 0.7rem;
	
}
	body{ 
		background-image: url(../img/fondo1.png);
		background-size: cover;
		background-attachment: fixed;
		

}

nav{
	
	background-color: royalblue;
	justify-content: center;
	display: flex;
	gap: 2px;
    padding: 12px 0;
    position: relative;
    font-family: verdana;
    font-size: 0.7rem ;
	
	
}

nav a{
	transition: all 0.2s ease;
	padding: 8px 15px;
	color: white;

}

nav a:hover{
	
	cursor: pointer;
	color: gold;
	
	}




	section{

		text-align: center;
		color: #3f3492;
		background-color: transparent;
		border-radius: 10px;
		backdrop-filter: blur(14px);
		border-color: midnightblue;
		border: solid;
		font-size: 0.7rem;

	}

	.dificu{
		display: flex;
		flex-direction: row;
		gap: 1rem;
		
	}
	

	img.dificul{
		width: 70%;
		margin: 0 auto;
		transition: all 0.5s ease;
		border-radius: 10px;
		border: solid;
		border-color: white;
}

img.dificul:hover{
	transform: scale(1.05);
	filter: sepia(100%);

}

img.imagenes{
		width: 30%;
		

		transition: all 0.5s ease;
		border-radius: 10px;
		border: solid;
		border-color: white;
}

img.imagenes:hover{
	transform: scale(1.05);
	

}

.subrayados{
	text-decoration: underline;
}

button.inicio{
	font-size: 20px;
	width: 60%;
	background-image: url(../img/butto.jpg);
	background-size: cover;
	color: darkblue;
	border-radius: 5px;
	border: solid;
	border-color: midnightblue;
	transition: all 0.3s ease-in;
}

button.inicio:hover{
	transform: scale(1.05);
	color: darkgoldenrod;
	border-color: aqua;
}


	footer{
		text-align: center;
	background-color: midnightblue;
	border: solid;
	border-color: gold;
	color: aquamarine;
	font-family: verdana;
	font-size: 0.7rem;
}

hr{
	border-color: #3f3492;
}


.tip{
	border: 2 solid;
	border-color: royalblue;
}

.buttonop{
	height: 50px;
	width: 90%;
	border-radius: 6px;

	background: linear-gradient(45deg,midnightblue,hotpink);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	border: solid;
	border-color: midnightblue;
	font-weight: bolder;
	font-family: fantasy;
	font-size: 20px;
	cursor: pointer;

	transition: all 0.3s ease-in;
	
}

.buttonop:hover{
	transform: scale(1.05);
	background: linear-gradient(lightblue, greenyellow);
	background-clip: text;
	-webkit-text-stroke:  transparent;




}

dialog{
	text-align: center;
	background: transparent;
	border-image: linear-gradient(45deg,midnightblue,royalblue)1;
	border-style: 2 solid;
	
	color: white;
}



#alert-dialog {
  opacity: 0;
  transition:
    display 1s allow-discrete,
    overlay 1s allow-discrete,
    translate 1s,
    opacity 1s;
  translate: 0 50%;
  will-change: translate, opacity;
}

#alert-dialog[open] {
  opacity: 1;
  translate: 0;
  @starting-style {
    opacity: 0;
    translate: 0 50%;
  }
}

#alert-dialog::backdrop {
  background: linear-gradient(#000d, #000a);
  opacity: 1;
  transition:
    display 1s allow-discrete,
    opacity 1s;

  @starting-style { opacity: 0 }
}

#alert-dialog:not([open])::backdrop {
  opacity: 0;
}

.buttonp{
	height: 25px;
	width: 80%;
	border-radius: 6px;

	background: linear-gradient(45deg,midnightblue,hotpink);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	border: solid;
	border-color: midnightblue;
	font-weight: bolder;
	font-family: fantasy;
	font-size: 14px;
	cursor: pointer;

	transition: all 0.3s ease-in;
	
}

.buttonsell{
	background: transparent;
	border: transparent;
	
}

.buttonp:hover{
	transform: scale(1.05);
	background: linear-gradient(lightblue, greenyellow,royalblue);
	background-clip: text;
	-webkit-text-stroke:  transparent;




}

}
















@media (max-width: 600px) {
	header{
	text-align: center;
	background: linear-gradient(140deg,turquoise, blue); 
	border: solid;
	border-color: silver;
	color: aqua;
	font-family: verdana;
	
	font-size: 0.5rem;
}

	body{ 
		background-image: url(../img/fondo2.png);
		background-size: cover;
		background-attachment: fixed;

}

nav{
	
	background-color: midnightblue;
	justify-content: center;
	display: flex;
	gap: 2px;
    padding: 12px 0;
    position: relative;
    font-family: verdana;
    font-size: 0.3rem;
	
	
}

nav a{
	transition: all 0.2s ease;
	padding: 8px 15px;
	color: white;

}

nav a:hover{
	
	cursor: pointer;
	color: cyan;
	
	}

	section{

		text-align: center;
		color: lightblue;
		background-color: transparent;
		border-radius: 10px;
		backdrop-filter: blur(14px);
		border-color: midnightblue;
		border: solid;

	}

	.dificu{
		display: flex;
		flex-direction: row;
		gap: 1rem;
		
	}
	

	img.dificul{
		width: 70%;
		margin: 0 auto;
		transition: all 0.5s ease;
		border-radius: 10px;
		border: solid;
		border-color: white;
}

img.dificul:hover{
	transform: scale(1.05);
	filter: sepia(100%);

}

img.imagenes{
		width: 30%;
		

		transition: all 0.5s ease;
		border-radius: 10px;
		border: solid;
		border-color: white;
}

img.imagenes:hover{
	transform: scale(1.05);
	

}

.subrayados{
	text-decoration: underline;
}

button.inicio{
	font-size: 20px;
	width: 60%;
	background-image: url(../img/butto.jpg);
	background-size: cover;
	color: darkblue;
	border-radius: 5px;
	border: solid;
	border-color: midnightblue;
	transition: all 0.3s ease-in;
}

button.inicio:hover{
	transform: scale(1.05);
	color: darkgoldenrod;
	border-color: aqua;
}


	footer{
		text-align: center;
	background: linear-gradient(140deg,turquoise, blue); 
	border: solid;
	border-color: silver;
	color: aqua;
	font-family: verdana;
	
	font-size: 0.5rem;

		
	
}

hr{
	border-color: #3f3492;
}


.tip{
	border: 2 solid;
	border-color: royalblue;
}

.buttonop{
	height: 50px;
	width: 90%;
	border-radius: 6px;

	background: linear-gradient(45deg,midnightblue,hotpink);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	border: solid;
	border-color: midnightblue;
	font-weight: bolder;
	font-family: fantasy;
	font-size: 15px;
	cursor: pointer;

	transition: all 0.3s ease-in;
	
}

.buttonop:hover{
	transform: scale(1.05);
	background: linear-gradient(lightblue, greenyellow);
	background-clip: text;
	-webkit-text-stroke:  transparent;




}

dialog{
	text-align: center;
	background: transparent;
	border-image: linear-gradient(45deg,midnightblue,royalblue)1;
	border-style: 2 solid;
	
	color: white;
}



#alert-dialog {
  opacity: 0;
  transition:
    display 1s allow-discrete,
    overlay 1s allow-discrete,
    translate 1s,
    opacity 1s;
  translate: 0 50%;
  will-change: translate, opacity;
}

#alert-dialog[open] {
  opacity: 1;
  translate: 0;
  @starting-style {
    opacity: 0;
    translate: 0 50%;
  }
}

#alert-dialog::backdrop {
  background: linear-gradient(#000d, #000a);
  opacity: 1;
  transition:
    display 1s allow-discrete,
    opacity 1s;

  @starting-style { opacity: 0 }
}

#alert-dialog:not([open])::backdrop {
  opacity: 0;
}

.buttonp{
	height: 25px;
	width: 80%;
	border-radius: 6px;

	background: linear-gradient(45deg,midnightblue,hotpink);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	border: solid;
	border-color: midnightblue;
	font-weight: bolder;
	font-family: fantasy;
	font-size: 14px;
	cursor: pointer;

	transition: all 0.3s ease-in;
	
}

.buttonsell{
	background: transparent;
	border: transparent;

}

.buttonp:hover{
	transform: scale(1.05);
	background: linear-gradient(lightblue, greenyellow,royalblue);
	background-clip: text;
	-webkit-text-stroke:  transparent;




}


}






@media (min-width: 1440px) {
	header{
	text-align: center;
	background-color: royalblue ;
	border: solid;
	border-color: gold;
	color: aquamarine;
	font-family: verdana;
	
}
	body{ 
		background-image: url(../img/fondo1.png);
		background-size: cover;
		background-attachment: fixed;
		

}

nav{
	
	background-color: royalblue;
	justify-content: center;
	display: flex;
	gap: 2px;
    padding: 12px 0;
    position: relative;
    font-family: verdana;

	
	
}

nav a{
	transition: all 0.2s ease;
	padding: 8px 15px;
	color: white;

}

nav a:hover{
	
	cursor: pointer;
	color: gold;
	
	}
	section{
		width: 90%;
	margin: 0 auto;
		text-align: center;
		color: #3f3492;
		background-color: transparent;
		border-radius: 10px;
		backdrop-filter: blur(14px);
		border-color: midnightblue;
		border: solid;

	}

	.dificu{
		display: flex;
		flex-direction: row;
		gap: 1rem;
		
	}
	

	img.dificul{
		width: 70%;
		margin: 0 auto;
		transition: all 0.5s ease;
		border-radius: 10px;
		border: solid;
		border-color: white;
}

img.dificul:hover{
	transform: scale(1.05);
	filter: sepia(100%);

}

img.imagenes{
		width: 30%;
		

		transition: all 0.5s ease;
		border-radius: 10px;
		border: solid;
		border-color: white;
}

img.imagenes:hover{
	transform: scale(1.05);
	

}

.subrayados{
	text-decoration: underline;
}

button.inicio{
	font-size: 20px;
	width: 60%;
	background-image: url(../img/butto.jpg);
	background-size: cover;
	color: darkblue;
	border-radius: 5px;
	border: solid;
	border-color: midnightblue;
	transition: all 0.3s ease-in;
}

button.inicio:hover{
	transform: scale(1.05);
	color: darkgoldenrod;
	border-color: aqua;
}


	footer{
		text-align: center;
	background-color: royalblue;
	border: solid;
	border-color: gold;
	color: aquamarine;
	font-family: verdana;
}

hr{
	border-color: #3f3492;
}


.tip{
	border: 2 solid;
	border-color: royalblue;
}

.buttonop{
	height: 50px;
	width: 90%;
	border-radius: 6px;

	background: linear-gradient(45deg,midnightblue,hotpink);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	border: solid;
	border-color: midnightblue;
	font-weight: bolder;
	font-family: fantasy;
	font-size: 25px;
	cursor: pointer;

	transition: all 0.3s ease-in;
	
}

.buttonop:hover{
	transform: scale(1.05);
	background: linear-gradient(lightblue, greenyellow);
	background-clip: text;
	-webkit-text-stroke:  transparent;




}

dialog{
	text-align: center;
	background: transparent;
	border-image: linear-gradient(45deg,midnightblue,royalblue)1;
	border-style: 2 solid;
	
	color: white;
}



#alert-dialog {
  opacity: 0;
  transition:
    display 1s allow-discrete,
    overlay 1s allow-discrete,
    translate 1s,
    opacity 1s;
  translate: 0 50%;
  will-change: translate, opacity;
}

#alert-dialog[open] {
  opacity: 1;
  translate: 0;
  @starting-style {
    opacity: 0;
    translate: 0 50%;
  }
}

#alert-dialog::backdrop {
  background: linear-gradient(#000d, #000a);
  opacity: 1;
  transition:
    display 1s allow-discrete,
    opacity 1s;

  @starting-style { opacity: 0 }
}

#alert-dialog:not([open])::backdrop {
  opacity: 0;
}

.buttonp{
	height: 25px;
	width: 80%;
	border-radius: 6px;

	background: linear-gradient(45deg,midnightblue,hotpink);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	border: solid;
	border-color: midnightblue;
	font-weight: bolder;
	font-family: fantasy;
	font-size: 14px;
	cursor: pointer;

	transition: all 0.3s ease-in;
	
}

.buttonsell{
	background: transparent;
	border: transparent;

}

.buttonp:hover{
	transform: scale(1.05);
	background: linear-gradient(lightblue, greenyellow,royalblue);
	background-clip: text;
	-webkit-text-stroke:  transparent;




}



}






